<div class="container">
    <app-mensagem></app-mensagem>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="formulario" (ngSubmit)="submited()">
        <div id="user-data">
          <div formArrayName = 'array'>
            <div *ngFor="let control of formulario.get('array').controls; let i = index">
              <div [formGroupName] = 'i'>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input (focus)="removeErro()" formControlName = "vc_nome" type="text" id="username" class="form-control" [ngClass]="{'invalido': !formulario.get('array.'+i+'.vc_nome').valid && formulario.get('array.'+i+'.vc_nome').touched}">
                  <span *ngIf="!formulario.get('array.'+i+'.vc_nome').valid && formulario.get('array.'+i+'.vc_nome').touched" style="color:red">Informe um nome</span>
                </div>
                <div class="form-group">
                  <label for="username">Email</label>
                  <input (focus)="removeErro()" formControlName = "vc_email" type="text" id="username" class="form-control" [ngClass]="{'invalido': !formulario.get('array.'+i+'.vc_email').valid && formulario.get('array.'+i+'.vc_email').touched}">
                  <span *ngIf="!formulario.get('array.'+i+'.vc_email').valid && formulario.get('array.'+i+'.vc_email').touched" style="color:red">Informe um e-mail válido</span>
                  <div class="col-md-12 text-right" style="margin-top:10px">
                  <button class="btn btn-danger" (click)="deleteGroup(i)">Deletar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" style="margin-right:10px" type="submit">Submit</button>
        <button class="btn btn-success" type="button" (click)="addGroup()">Adicionar</button>
      </form>
    </div>
  </div>
</div>
