<div #table [ngStyle]="{'width': largura+'px'}" [title]='value' class="tb" [class.border]="open" (click)="open = true">
  <input [(ngModel)]="_filtro" (keyup)="filtro()" *ngIf="open" class="form-control" style="margin-bottom:10px"
    type="text" placeholder="Pesquisar...">
  <input [(ngModel)]="value" style="pointer-events: none" *ngIf="!open" class="form-control" readonly type="text">
  <div  [ngStyle]="{'left': largura-5+'px'}" [ngClass]="{'squareDown': !open, 'squareUp': open}"></div>
  <div *ngIf="open">
    <th style=" border-bottom:solid 4px black;" [ngStyle]="{'width': largura/qtdTitulos+'px'}" *ngFor="let coluna of titulos">{{coluna}}</th>
  </div>
  <div [ngClass]="{'tamanhoP': !open,'tamanhoG': open}">
    <table class="tabela" *ngIf="open">
      <tbody *ngIf="!colunasEspecificadas">
        <tr style="cursor: pointer" [ngStyle]="{'backgroundColor': dado.index%2==1?'rgba(128, 128, 128, 0.35)':none}" (click)='selecionar(dado)' *ngFor="let dado of filtrado">
          <td [ngStyle]="{'width': qtdTitulos>1? largura/qtdColunas-20+'px':'100%'}" *ngFor="let valor of valores">{{dado[valor]}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="colunasEspecificadas">
        <tr style="cursor: pointer" [ngStyle]="{'backgroundColor': dado.index%2==1?'rgba(128, 128, 128, 0.35)':none}" (click)='selecionar(dado)' *ngFor="let dado of filtrado">
          <td [ngStyle]="{'width': qtdColunas>1? largura/qtdColunas-20+'px':'100%'}" *ngFor="let coluna of colunas">{{dado[coluna]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>