td{
    border:none !important;
}

tr:hover{
    background-color: grey;
    color:white;
}

.tb{
    cursor: pointer;
    padding: 10px 5px 10px 10px;
    border-radius: 2%;
}

.border{
    box-shadow: 1px 2px 2px grey;
    border: 1px solid grey;
}

th,td{
    text-align: center;
    padding:3px;
}

.squareDown{
    pointer-events: none;
    content: " ";
    top: 45%;
    position: absolute;
    border: 7px solid;
    border-color:grey transparent transparent transparent;
    cursor: pointer;
}