td{
    border:none !important;
}

tr:hover{
    background-color: grey !important;
    color:white;
}

.tb{
    cursor: pointer;
    padding: 10px 5px 10px 10px;
    border-radius: 2%;
}

.border{
    box-shadow: 1px 2px 2px grey;
    border: 1px solid grey;
}

th,td{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding:3px;
    word-wrap:break-word;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

th{
    background-color: rgba(128, 128, 128, 0.700);
    color: rgb(92, 92, 92);
}

.squareDown{
    visibility: visible;
    pointer-events: none;
    content: " ";
    top: 45%;
    position: absolute;
    border: 7px solid;
    border-color:grey transparent transparent transparent;
    cursor: pointer;
    transform: rotate(0deg);
    transition:all 500ms;
}

.squareUp{
    visibility: hidden;
    pointer-events: none;
    content: " ";
    top: 45%;
    position: absolute;
    border: 7px solid;
    border-color: transparent  transparent grey  transparent;
    transform: rotate(250deg);
    cursor: pointer;
}

.tabela{
    width: 100%;
    table-layout:fixed;
}

.tamanhoG{
    height: 200px;
    overflow: auto;
    transition: 200ms;
}

.tamanhoP{
    height: 0px;
    overflow: auto;
    transition: 200ms;
}